<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.s_multiloginp"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" tools:node="merge" />

  <!-- Facebook config-->
  <application android:name="android.app.Application" tools:node="merge">
    <meta-data android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/fbAppID" />
    <meta-data android:name="com.facebook.sdk.ClientToken"
      android:value="@string/fbClientToken" />

    <!-- Twitter config -->
    <!-- <activity
      android:name="android.app.Application.MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https://fir-login-siltium.firebaseapp.com/__/auth/handler" />
      </intent-filter>
    </activity> -->

  </application>

</manifest>